h1, p {
  font-family: Trebuchet MS;
}

h1 {
  font-size: 2rem;
}

li {
  font-size: 1.3rem;
}

button {
  border-radius: 30px;
  color: white;
  font-size: 0.9rem;
  padding: 4px;
}

/* input {
  padding: 5px;
} */

#criar-tarefa, #remover-finalizados {
  background-color: #034f84;
}

#remover-selecionado, #apaga-tudo {
    background-color: #c94c4c;
}

#mover-cima, #mover-baixo {
  background-color: #ff7b25;
}

#salvar-tarefas {
  background-color: #82b74b;
}

body {
  background-color: #ffef96;
}
.main-container {
  margin: auto;
  border-radius: 40px;
  width: fit-content;
  padding: 20px 40px;
  flex-direction: column;
  background-color: white;
}
